.overlay {
	overflow:scroll;
	display:none;
	background-color:#f8f8f8;
	position:fixed;
	padding-bottom:100px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	header {
		position:relative;
		.logo {
			background-image: url('watermark_orange.svg') !important;
		}
		.fa {
			float:right;
			color:#F0552D;
			font-size:36px;
			margin-top: 10px;
			cursor:pointer;
		}
	}

	.about-body {
		h1 {
			color:#404041;
			text-align:center;
			font-family: 'Avenir', 'Open-Sans', 'Helvetica', sans-serif;
			letter-spacing: 0px;
		}
		ul {
			list-style: circle;
		}
		li {
			color:#404041;
			.fa {
				color:#F0552D;
				margin:0px 5px;
			}
		}
		font-family: 'Avenir', 'Open-Sans', 'Helvetica', sans-serif;
		color: #404041;
		margin:60px auto 0px !important;
		display:table;
		float:none;
		font-size:24px;
		line-height:1.5em;

	}
}
@media (min-width: 416px) {
	.about-body {
		@include span-columns(8);
	}
}

@media (max-width: 415px) {
	.about-body {
		h1 {
			font-size:36px;
		}
		padding:0px 20px;
		@include span-columns(12);
	}
}
