@font-face {
    font-family: 'KnewaveRegular';
    src: url('knewave-webfont.eot');
    src: url('knewave-webfont.eot?#iefix') format('embedded-opentype'),
         url('knewave-webfont.woff') format('woff'),
         url('knewave-webfont.ttf') format('truetype'),
         url('knewave-webfont.svg#KnewaveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'KnewaveOutlineRegular';
    src: url('knewave-outline-webfont.eot');
    src: url('knewave-outline-webfont.eot?#iefix') format('embedded-opentype'),
         url('knewave-outline-webfont.woff') format('woff'),
         url('knewave-outline-webfont.ttf') format('truetype'),
         url('knewave-outline-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Raleway';
    src: url('raleway_thin-webfont.eot');
    src: url('raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway_thin-webfont.woff') format('woff'),
         url('raleway_thin-webfont.ttf') format('truetype'),
         url('raleway_thin-webfont.svg#KnewaveOutlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// @import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
    font-family: 'Avenir Roman';
    src: url('30C5EC_0_0.eot');
    src: url('30C5EC_0_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_0_0.woff') format('woff'),
         url('30C5EC_0_0.ttf') format('truetype'),
         url('30C5EC_0_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Heavy Oblique';
    src: url('30C5EC_1_0.eot');
    src: url('30C5EC_1_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_1_0.woff') format('woff'),
         url('30C5EC_1_0.ttf') format('truetype'),
         url('30C5EC_1_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('30C5EC_2_0.eot');
    src: url('30C5EC_2_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_2_0.woff') format('woff'),
         url('30C5EC_2_0.ttf') format('truetype'),
         url('30C5EC_2_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light Oblique';
    src: url('30C5EC_3_0.eot');
    src: url('30C5EC_3_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_3_0.woff') format('woff'),
         url('30C5EC_3_0.ttf') format('truetype'),
         url('30C5EC_3_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Oblique';
    src: url('30C5EC_4_0.eot');
    src: url('30C5EC_4_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_4_0.woff') format('woff'),
         url('30C5EC_4_0.ttf') format('truetype'),
         url('30C5EC_4_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('30C5EC_5_0.eot');
    src: url('30C5EC_5_0.eot?#iefix') format('embedded-opentype'),
         url('30C5EC_5_0.woff') format('woff'),
         url('30C5EC_5_0.ttf') format('truetype'),
         url('30C5EC_5_0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
