<header class={{this.currentRouteName}}>
	<div class="logo"></div>
	{{about-overlay}}
</header>

{{liquid-outlet}}

<footer class={{this.currentRouteName}}>
	<nav>
		<ul>
			{{#link-to 'index' tagName="li" id="menu-index" href=false}}Home{{/link-to}}
			{{#link-to 'join' tagName="li" id="menu-press" href=false}}Join{{/link-to}}
			{{#link-to 'workshop' id="menu-distraction" tagName="li"}}Workshop{{/link-to}}
		</ul>
	</nav>
</footer>