<header class={{this.currentRouteName}}>
<h1 class="logo">subforum</h1>

	{{about-overlay}}
</header>

{{liquid-outlet}}

<footer class={{this.currentRouteName}}>
	<nav>
		<ul>
			{{#link-to 'index' tagName="li" id="menu-index" href=false}}Home{{/link-to}}
			{{#link-to 'press' tagName="li" id="menu-press" href=false}}Join{{/link-to}}
			{{#link-to 'distraction' id="menu-distraction" tagName="li"}}Workshop{{/link-to}}
		</ul>
	</nav>
</footer>
