<div class="distraction-main">
	<div class="message">
		<h2>The Future of Work: A Workshop by Subforum</h2>
		<p>Join Subforum for an all-day experience hosted in the Boston area, where a highly curated group from across industries will engage in workshops to better understand work (and how it's changing). Sign up now for more information, and to stay informed of likely dates and locations for this event.</p>
	</div>
	{{ember-chimp formAction="//subforum.us6.list-manage.com/subscribe/post?u=989944d675bf090957e76beb9&amp;id=ac2e59414a"
	label=""}}
</div>