<div class="distraction-main">
	<h1>Distraction</h1>
	{{#link-to 'press'}}{{fa-icon "angle-left"}}{{/link-to}}
	<div class="body-text">
		<p>Explorations of distraction: A topic team dedicated to learning more about how we succeed or fail in distracting environs</p>
		<a class="cta" href="/">Visit Distraction</a>
	</div>
	<div class="logo-container">
		<img src="assets/distraction.png" />
	</div>
</div>