<div class="distraction-main">
  <div class="container">
  	<div class="message">
  		<h2>Redesign Your Workday</h2>
  		<p>Join Subforum on <b>June 10</b> for an all-day experience hosted in the Boston area. Redesign Your Workday will engage a highly curated group from across industries to better understand attention and focus, the diversity of work environments, and team interactions. Sign up now to reserve your spot and to stay informed of event details as they develop.</p>
  	</div>
  	{{ember-chimp formAction="//subforum.us6.list-manage.com/subscribe/post?u=989944d675bf090957e76beb9&amp;id=ac2e59414a"
  	label=""}}
  </div>
</div>