<div class="index-main">
	<img src="assets/subforum-logo.png" />
	<div class="body-text">
		<p>Subforum is a research and design group focusing on the mergence of mediated and physical experience.</p>
	</div>
	{{#link-to 'press'}}{{fa-icon "angle-right"}}{{/link-to}}
</div>