<div class="index-main">
	<img src="assets/subforum-logo.png" />
	<div class="body-text">
		<p>Subforum is a research and design group focusing on the mergence of mediated and physical experience.</p>
	</div>
</div>