<div class="index-main">
<<<<<<< HEAD
	<img src="assets/logo-light-orange.svg" />
=======
	<img src="assets/subforum-logo.svg" />
>>>>>>> master
	<div class="body-text">
		<p>Subforum is shaping the human impact of emerging tech.</p>
	</div>
</div>
