<div class="join-main">

	<h1>Join Our Community</h1>
	<hr />
	<p>Subforum's meetups bring together designers, practitioners, and thinkers from the Boston area. We explore topics of contemporary relevance in a workshop-style environment, and <b>we want you to join us</b>. Sign up to receive notifications of upcoming events.</p>
	{{ember-chimp formAction="//subforum.us6.list-manage.com/subscribe/post?u=989944d675bf090957e76beb9&amp;id=ac2e59414a"
	label=""}}
  <hr />

</div>
