<div class="press-main">
	<div class="logo-container">
		<img src="assets/fast-co.png" />
	</div>
	{{#link-to 'index'}}{{fa-icon "angle-left"}}{{/link-to}}
	<div class="body-text">
		<p>"Subforum is quite possibly the most high impact, most disruptive, most genius organizational and design concept currently operating in the United States...nay, the world."</p>
	</div>
	{{#link-to 'distraction'}}{{fa-icon "angle-right"}}{{/link-to}}
</div>